rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // 1. VALIDACIONES AUXILIARES
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // [NUEVO] Validación estricta para Likes
    // Permite actualizar SOLO si el único campo que cambia es 'likesCount'
    function isLikeUpdate() {
       return request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likesCount']);
    }

    // 2. REGLAS DE USUARIOS
    match /users/{userId} {
      allow read: if true; 
      allow write: if isAuthenticated() && isOwner(userId);

      // Sub-colección: Guardados (Ya implementado en 8.1)
      match /saved_articles/{document=**} {
        allow read, write: if isAuthenticated() && isOwner(userId);
      }
      
      // [NUEVO TAREA 8.2] Sub-colección: Likes
      // Necesario para saber QUÉ artículos ha likeado el usuario (Persistencia de Switch)
      match /liked_articles/{document=**} {
        allow read, write: if isAuthenticated() && isOwner(userId);
      }
    }

    // 3. REGLAS DE ARTÍCULOS
    match /articles/{articleId} {
      // Lectura pública
      allow read: if true;

      // Creación: Solo usuarios autenticados y dueños de la data
      allow create: if isAuthenticated() 
                    && request.resource.data.userId == request.auth.uid
                    && request.resource.data.keys().hasAll(['title', 'content', 'category', 'publishedAt']);
      
      // Actualización (Update):
      // CASO A: El dueño puede editar todo (título, contenido, etc.)
      // CASO B: CUALQUIER usuario autenticado puede actualizar SOLO el contador de likes
      allow update: if isAuthenticated() 
                    && (
                        resource.data.userId == request.auth.uid || 
                        isLikeUpdate()
                       );
      
      // Borrado: Solo el dueño
      allow delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
    }
  }
}